@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(0.9816 0.0017 247.8390);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.8606 0.1731 91.9357);
  --primary-foreground: oklch(0.3791 0.1378 265.5222);
  --secondary: oklch(0.3791 0.1378 265.5222);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.7848 0.0559 256.1493);
  --muted-foreground: oklch(0.2290 0.0459 21.2977);
  --accent: oklch(0.6368 0.2078 25.3313);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.4437 0.1613 26.8994);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.6050 0.0024 17.2244);
  --input: oklch(0.6050 0.0024 17.2244);
  --ring: oklch(0.3791 0.1378 265.5222);
  --chart-1: #2a78d6;
  --chart-2: #eb6834;
  --chart-3: #1baf7a;
  --chart-4: #eda100;
  --chart-5: #e87ba4;
  --radius: 0.625rem;
  --sidebar: oklch(0.3791 0.1378 265.5222);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.8606 0.1731 91.9357);
  --sidebar-primary-foreground: oklch(0.3791 0.1378 265.5222);
  --sidebar-accent: oklch(0.5461 0.2152 262.8809);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3717 0.0392 257.2870);
  --sidebar-ring: oklch(0.8606 0.1731 91.9357);
}

.dark {
  --background: oklch(0.2077 0.0398 265.7549);
  --foreground: oklch(0.9842 0.0034 247.8575);
  --card: oklch(0.2795 0.0368 260.0310);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.2795 0.0368 260.0310);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.8606 0.1731 91.9357);
  --primary-foreground: oklch(0.2077 0.0398 265.7549);
  --secondary: oklch(0.5461 0.2152 262.8809);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3717 0.0392 257.2870);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.6368 0.2078 25.3313);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3717 0.0392 257.2870);
  --input: oklch(0.3717 0.0392 257.2870);
  --ring: oklch(0.8606 0.1731 91.9357);
  --chart-1: #3987e5;
  --chart-2: #d95926;
  --chart-3: #199e70;
  --chart-4: #c98500;
  --chart-5: #d55181;
  --sidebar: oklch(0.1288 0.0406 264.6952);
  --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-primary: oklch(0.8606 0.1731 91.9357);
  --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-accent: oklch(0.2795 0.0368 260.0310);
  --sidebar-accent-foreground: oklch(0.8606 0.1731 91.9357);
  --sidebar-border: oklch(0.2795 0.0368 260.0310);
  --sidebar-ring: oklch(0.8606 0.1731 91.9357);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
